<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Revolução Brasileira</title>
		
		<link href="static/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="static/css/escandalos.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/jquery.masonry.js"></script>
		<script type="text/javascript" src="static/js/functions.js"></script>
		
	</head>
	<body>

	
	<div id="main">
	
		<div class="content">
			
			
			<div class="menu-bar">
				<div class="aligner"><ul>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li></div>
				</ul>
			</div><!-- menu-bar -->
			
			
			<div class="escandalos">
			
				<div class="tit-search">
					<h1 class="title">Governo Sarney</h1>
					
					
					
					<input type="text" value="Palavra-chave"/>
					<div class="subject">
					<span>Governo</span>
					
						<ul>
							<li><a href="#">Nome Categoria</a></li>
							<li><a href="#">Nome Categoria</a></li>
							<li><a href="#">Nome Categoria</a></li>
							<li><a href="#">Nome Categoria</a></li>
							<li><a href="#">Nome Categoria</a></li>
						</ul>
					</div><!-- subject select -->
					
				</div><!-- tit search -->
				
				
				
				<div class="inner-content">

					<h1>Caso Banespa</h1>
					<div class="share-holder">
							<div class="badges">
								<div class="dislikes">307</div>
							</div>
							<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Frevolucaobrasileira.com.br&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font=arial&amp;height=21&amp;appId=143585905741403" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px; margin-left:20px; margin-top:5px;" allowTransparency="true"></iframe>
							
					</div><!-- shareholder -->
					
					<em class="date">01/06/1987</em>
					
					<div class="photos">
							<ul>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
								<li><img src="static/images/escandalos-thumb.png"/></li>
							</ul>
						</div>
					
					<div class="basic-text">
						<h4>História</h4>
						<p>O banco foi o centro de dois escândalos no governo de Orestes Quércia em São Paulo. O primeiro foi descoberto pouco depois de sua posse, em 1987. Otávio Ceccato, secretário da Indústria e Comércio, envolveu-se em uma fraude que provocou um rombo de 1 bilhão de cruzados (pouco mais de 900.000 reais) na corretora do Banespa. Já perto de encerrar o mandato, foi Quércia o responsável por outro escândalo envolvendo o banco, desta vez por meio dos empréstimos especiais chamados “antecipação de receita orçamentária”, ou ARO. Em dois deles, o governo pegou 674 milhões de dólares no banco oficial. Os desmandos resultaram na intervenção da instituição pelo Banco Central.  Deu no que?</p>
					</div>
					
					<div class="basic-text">
						<h4>Desdobramentos</h4>
						<p>Em 1996, uma liminar cassou bens dos 107 responsáveis pela administração do banco entre 1989 e 1994 – incluindo os ex-governadores Quércia e Fleury. Todos foram acusados pelo Ministério Público de responsabilidade “objetiva” e “solidária” pelo rombo do banco, estimado em mais de 15 bilhões de reais. Fleury ainda foi citado por interferir diretamente na concessão de empréstimos de 111 milhões de dólares à empresa farmacêutica Paraquímica. Quércia respondia, ainda, pelo rombo de 2,8 bilhões de reais no Banespa – morreu sem que o processo fosse julgado no Superior Tribunal de Justiça. Federalizado, o banco foi vendido em 2000 para o espanhol Santander, por 7,05 bilhões de reais. Na ocasião, o Banespa foi definido pelo então presidente do Banco Central, Armínio Fraga, como a “joia da coroa” entre </p>
					</div>
					
					
					<div class="envolvidos">
						
						<div class="users">
							<ul>
								<li class="active">
									<div class="photo"><img src="static/images/escandalos-thumb.png"/></div>
									<strong>Orestes Quércia</strong>
									<em>Ex-governador de São Paulo</em>
								</li>
								<li>
									<div class="photo"><img src="static/images/escandalos-thumb.png"/></div>
									<strong>Orestes Quércia</strong>
									<em>Ex-governador de São Paulo</em>
								</li>
								<li>
									<div class="photo"><img src="static/images/escandalos-thumb.png"/></div>
									<strong>Orestes Quércia</strong>
									<em>Ex-governador de São Paulo</em>
								</li>
								<li>
									<div class="photo"><img src="static/images/escandalos-thumb.png"/></div>
									<strong>Orestes Quércia</strong>
									<em>Ex-governador de São Paulo</em>
								</li>
								<li>
									<div class="photo"><img src="static/images/escandalos-thumb.png"/></div>
									<strong>Orestes Quércia</strong>
									<em>Ex-governador de São Paulo</em>
								</li>
								
								
							</ul>
						</div>
						
						<div class="users-content">
							
							<div class="text">
								<p>Em 1988, por causa da notoriedade dos métodos de Quércia, alguns peemedebistas ilustres ? como Fernando Henrique Cardoso e José Serra ? deixaram o PMDB e, pregando uma atuação ética na política, fundaram um novo partido, o PSDB. Quércia ainda conseguiu emplacar seu sucessor, Luiz Antonio Fleury Filho, no Palácio dos Bandeirantes e deixou o governo com aprovação de metade da população, em 1991. Mas não superou as suspeitas de enriquecimento ilícito e nunca mais se elegeu, embora tenha entrado em sucessivas disputas eleitorais. Em 2010, lançou-se candidato a senador por São Paulo - apoiado, ironicamente, pela agremiação tucana. Retirou-se da campanha para tratar um câncer de próstata. Morreu em 24 de dezembro daquele ano.</p>
								
								<p>Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.</p>

<p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
								
							</div>
							
							<div class="text">
								Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
							</div>
							
							<div class="text">
								Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.
							</div>
							
							<div class="text">
								Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna.

Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
							</div>
							
							<div class="text">
								Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</div>

						</div><!-- users content -->
						
					</div><!-- envolvidos -->
					
					
					<div class="frases-marcantes">
						
						<div class="frase">
							<h5>Era o fim de um governo que tinha sido muito atuante. Não podíamos sair como fracassados.</h5>
							<em>Ex-secretário de Quércia para a Veja, sobre empréstimos feitos no fim de seu mandato.</em>
							<div class="badges">
								<div class="likes">307</div>
								<div class="dislikes">307</div>
							</div>
						</div>
						
						<div class="frase">
							<h5>Era o fim de um governo que tinha sido muito atuante. Não podíamos sair como fracassados.</h5>
							<em>Ex-secretário de Quércia para a Veja, sobre empréstimos feitos no fim de seu mandato.</em>
							<div class="badges">
								<div class="likes">307</div>
								<div class="dislikes">307</div>
							</div>
						</div>
						
						<div class="frase">
							<h5>Era o fim de um governo que tinha sido muito atuante. Não podíamos sair como fracassados.</h5>
							<em>Ex-secretário de Quércia para a Veja, sobre empréstimos feitos no fim de seu mandato.</em>
							<div class="badges">
								<div class="likes">307</div>
								<div class="dislikes">307</div>
							</div>
						</div>
						
					</div><!-- frases marcantes -->
					
					
					<div class="casos-semelhantes">
						
						<h3>Casos Semelhantes</h3>
						
						<div class="caso">
							<h5><a href="#">Caso Banespa</a></h5>
							<strong>01/06/1987</strong>
							<span><a href="#">O banco foi o centro de dois escândalos no governo de Orestes Quércia em São Paulo. O primeiro foi descoberto pouco depois de sua posse, em 1987. Otávio Ceccato, secretário da Indústria e Comércio...</a></span>
						</div>
						
						<div class="caso">
							<h5><a href="#">Caso Banespa</a></h5>
							<strong>01/06/1987</strong>
							<span><a href="#">O banco foi o centro de dois escândalos no governo de Orestes Quércia em São Paulo. O primeiro foi descoberto pouco depois de sua posse, em 1987. Otávio Ceccato, secretário da Indústria e Comércio...</a></span>
						</div>
						
						<div class="caso">
							<h5><a href="#">Caso Banespa</a></h5>
							<strong>01/06/1987</strong>
							<span><a href="#">O banco foi o centro de dois escândalos no governo de Orestes Quércia em São Paulo. O primeiro foi descoberto pouco depois de sua posse, em 1987. Otávio Ceccato, secretário da Indústria e Comércio...</a></span>
						</div>
						
					</div>
					
					
				</div><!-- innercontent -->
				
				
				
			</div><!-- escandalos -->
			
		</div><!-- content -->
	</div><!-- #main -->
	
	
	
	
	
	
	<div id="sidebar">
	
		<div class="content">
			
			<div class="logo"></div><!-- logo -->
			
			<div class="search">
				<input type="text" value="Busca por conteúdo"/>
			</div><!-- search -->
			
			<div class="sign-up">
				<a href="#">Quero me registrar</a>
			</div><!-- signup -->
			
			
			<div class="logged">
				
				<div class="info">
					<div class="photo"><img src="static/images/user-0.jpg"/></div>
					<h4><a href="#">André Oliveira</a></h4>
				</div><!-- info -->
				
				<div class="badges">
					
						<span class="likes">379</span>
						<span class="comments">36</span>
						<span class="friends">12</span>
					
				</div><!-- badges -->
				
			</div><!-- logged -->
			
			
			<div class="breaking">
					<h3>Top Destaque</h3>
					
					<dl>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
					</dl>
					
			</div><!-- .breaking -->
			
			
		</div><!-- content -->
	
	</div><!-- sidebar -->
	
	</body>
</html>
