<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Revolução Brasileira</title>
		
		<link href="static/css/essentials.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/jquery.masonry.js"></script>
		<script type="text/javascript" src="static/js/functions.js"></script>
		
	</head>
	<body>

	
	<div id="main">
	
		<div class="content">
			
			
			<div class="menu-bar">
				<div class="aligner"><ul>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li>
					<li><a href="#">Menu Item</a></li></div>
				</ul>
			</div><!-- menu-bar -->
			
			
			
			<div class="featured-banners">
			
				<div class="controls">
					<div class="prev"></div>
					<div class="next"></div>
				</div>
			
				<div class="holder">
				
					<div class="banner">
						<div class="info">
							<em>Política</em>
							<h5>Aenean lacinia bibendum nulla sed consectetur.</h5>
						</div>
						<img src="static/images/banners/featured1.jpg"/>
					</div><!-- banner -->
					
					<div class="banner">
						<div class="info">
							<em>Corrupção</em>
							<h5>Inceptos Dolor Cras Cursus Sit</h5>
						</div>
						<img src="static/images/banners/featured2.jpg"/>
					</div><!-- banner -->
					
					<div class="banner">
						<div class="info">
							<em>Política</em>
							<h5>Nullam id dolor id nibh ultricies vehicula ut id elit.</h5>
						</div>
						<img src="static/images/banners/featured3.jpg"/>
					</div><!-- banner -->
					
				</div><!-- holder -->
			</div><!-- featured -->
			
			
			<div class="featured-info">
				<h3>Destaques</h3>
				
				<dl>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
					</dl>
				
			</div> <!-- featured-info -->
			
			
			
			<div class="trending">
				
				<h1>Em assunto</h1>
				
				<div class="subject">
				
				<span>Selecione a categoria</span>
				
					<ul>
						<li><a href="#">Nome Categoria</a></li>
						<li><a href="#">Nome Categoria</a></li>
						<li><a href="#">Nome Categoria</a></li>
						<li><a href="#">Nome Categoria</a></li>
						<li><a href="#">Nome Categoria</a></li>
					</ul>
				</div><!-- subject select -->
				
				
				<div class="content grid three">
				
					<div class="item article">
						<div class="photo">
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<span><a href="#">Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></span>
						
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item video">
						<div class="photo">
							<div class="play"></div>
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item article">
						<div class="photo">
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<span><a href="#">Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></span>
						
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item video">
						<div class="photo">
							<div class="play"></div>
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item article">
						<div class="photo">
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<span><a href="#">Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></span>
						
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item video">
						<div class="photo">
							<div class="play"></div>
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item article">
						<div class="photo">
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<span><a href="#">Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></span>
						
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
					<div class="item video">
						<div class="photo">
							<div class="play"></div>
							<a href="#"><img src="static/images/banners/trending1.jpg"/></a>
						</div>
						<em><a href="#">Política</a></em>
						<h3><a href="#">Tortor Sollicitudin Commodo Consectetur Cursus</a></h3>
						<div class="badges">
							<div class="likes">307</div>
							<div class="favs">29</div>
						</div>
					</div>
					
				
				</div>
				
			</div><!-- trending -->
			
			
		</div><!-- content -->
	</div><!-- #main -->
	
	
	
	
	
	
	<div id="sidebar">
	
		<div class="content">
			
			<div class="logo"></div><!-- logo -->
			
			<div class="search">
				<input type="text" value="Busca por conteúdo"/>
			</div><!-- search -->
			
			<div class="sign-up">
				<a href="#">Quero me registrar</a>
			</div><!-- signup -->
			
			
			<div class="logged">
				
				<div class="info">
					<div class="photo"><img src="static/images/user-0.jpg"/></div>
					<h4><a href="#">André Oliveira</a></h4>
				</div><!-- info -->
				
				<div class="badges">
					
						<span class="likes">379</span>
						<span class="comments">36</span>
						<span class="friends">12</span>
					
				</div><!-- badges -->
				
			</div><!-- logged -->
			
			
			<div class="breaking">
					<h3>Top Destaque</h3>
					
					<dl>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
						<dd><a href="#">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></dd>
						<dt>por <strong><a href="#">André Silveira</a></strong>	 em 18/04/12</dt>
					</dl>
					
			</div><!-- .breaking -->
			
			
		</div><!-- content -->
	
	</div><!-- sidebar -->
	
	</body>
</html>
